<%= render "shared/header" %>
<div class='main'>
 <div class = "card-list">
 <% @books.each do |book| %>
 <div class="card">
   <div class="card-element">
    <%= link_to image_tag(book.image.variant(resize: '300x300'), class: "item-img"), book_path(book.id), method: :get if book.image.attached? %>
    <%= link_to book.title, book_path(book.id), method: :get, class: "card__title link" %>
    </div>
 </div>
 <% end%>
 </div>
最新のルーム
  <table>
  <tr>
    <th>元の本</th>
    <th>ルーム名</th>
    <th>希望人数</th>
    <th>ルームの目標</th>
  </tr>
 <% @rooms.each do |room| %>
  <tr>
    <td><%= Book.find(room.book_id).title %></td>
    <td ><%= link_to room.name, "books/#{room.book_id}/rooms/#{room.id}/messages" %></td>
    <td><%= room.capacity %></td>
    <td><%=room.goal%></td>
  </tr>
 <% end%>
</table>
<%= render "shared/footer"  %>
 


 



